body {
    background: #c7deff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    background: darkslateblue;
    color: #d6eaf8;
    border: solid darkslateblue;
    border-radius: 10px;
    height: 200%;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5%;
}

div.clouds {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 7px;
}

input {
    margin-right: 10px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #b1e6c0;
    font-size: 0.3em;
    font-style: italic;
    width: 80%;
}

h1 {
    padding-left: 20px;
    font-size: 50px;
}

h2 {
    font-weight: 700;
    font-size: 8vw;
    margin-bottom: 7px;
}

h2.fav {
    font-weight: 400;
    font-size: 6vw;
}

h3 {
    font-weight: 700;
    font-size: 6vw;
}

div.nameBar {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

div.nameContent {
    display: flex;
    align-items: center;
    width: 80%;
}

span.temp {
    font-weight: 300;
    font-size: 7vw;
    float: right;
}

ul.weatherInfo {
    font-size: 3vw;
}

form{
    width: 80%;
}

li.infoElement {
    display: flex;
    justify-content: space-between;
    background: lightslategray;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 20px;
    padding: 6px 12px;
}

button{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    box-shadow: 0 0 1vw rgba(0, 0, 0, .1);
    transition: .5s;
}

button.plus, button.close {
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 10px;
    letter-spacing: 2px;
    background-size: 100% auto;
}

div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.title {
    margin: auto 10px;
}

div.geo {
    width: 6vw;
    height: 6vw;
}

span.geoLaptop {
    font-size: 1.3vw;
    display: none;
}

span.geoMobile {
    display: inline;
    padding-top: 0.1vmin;
    font-size: 3.5vw;
    width: 100%;
    height: 100%;
}

img.bigIcon {
    float: left;
    height: 8.5vw;
}

img.smallIcon {
    height: 8vw;
}

div.inputBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and  (min-width: 768px) and (max-width: 1250px){
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5%;
    }

    .mainMargin {
        margin-bottom: 40px !important;
    }

    div.header {
        width: 68%;
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    div.geo {
        width: 66.66%;
        height: 50px;
    }

    button.geo {
        border-radius: 1em;
        padding: 10px 20px;
        font-weight: 400;
    }

    span.geoLaptop {
        display: inline;
    }

    span.geoMobile {
        display: none;
    }

    input {
        font-size: 15px;
    }

    h1 {
        padding-left: 20px;
        font-size: 30px;
    }

    h2 {
        font-size: 40px;
    }

    h2.fav {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    div.mainTemp {
        font-size: 65px;
    }

    span.temp {
        font-size: 25px;
    }

    ul.weatherInfo {
        font-size: 15px;
    }

    img.bigIcon {
        float: left;
        height: 65px;
    }

    img.smallIcon {
        height: 45px;
    }
}

@media screen and (min-width: 1250px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5%;
    }

    .mainMargin {
        margin-bottom: 40px !important;
    }

    div.header {
        width: 68%;
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    div.geo {
        width: 66.66%;
        height: 50px;
    }

    button.geo {
        border-radius: 1em;
        padding: 10px 20px;
        font-weight: 400;
    }

    span.geoLaptop {
        display: inline;
    }

    span.geoMobile {
        display: none;
    }

    input {
        font-size: 20px;
    }

    h1{
        padding-left: 20px;
        font-size: 30px;
    }

    h2 {
        font-size: 40px;
    }

    h2.fav {
        font-size: 35px;
    }

    h3 {
        font-size: 35px;
    }

    div.mainTemp {
        font-size: 70px;
    }

    span.temp {
        font-size: 45px;
    }

    ul.weatherInfo {
        font-size: 20px;
    }

    img.bigIcon {
        float: left;
        height: 65px;
        margin-right: 20px;
    }

    img.smallIcon {
        height: 45px;
        margin-left: 25px;
    }
}
